PORT=3000
MONGODB_URI=mongodb://localhost:27017/solar_harvest
GOOGLE_SOLAR_API_KEY=your_key_here
IRS_EXEMPT_ORG_DATA_URL=https://www.irs.gov/charities-non-profits/tax-exempt-organization-search-bulk-data-downloads
